{% extends 'base.html.twig' %}

{% block title %}DEICRM{% endblock %}

{% block body %}

{% include 'inc/breadcrumb.html.twig' %}
{% include 'account/inc/flash.html.twig' %}

{% include 'account/inc/breadcrumb.html.twig' %}



{% if form is defined %}


    {{ form_start(form) }}

        {{ form_start(form) }}

        {{ form_row(form.Name) }}

        <div class="row">
         <div class="col">
           {{ form_row(form.OfficePhone) }}
         </div>
         <div class="col">
              {{ form_row(form.Fax) }}
         </div>
        </div>
        <div class="row">
         <div class="col">
           {{ form_row(form.Website) }}
         </div>
         <div class="col">
              {{ form_row(form.EmailAddress) }}
         </div>
        </div>
        <div class="row">
          <div class="col-4">
            {{ form_row(form.BillingAddressCity) }}
          </div>
         <div class="col-4">
           {{ form_row(form.BillingAddressStreet) }}
         </div>
         <div class="col-4">
              {{ form_row(form.BillingAddressPostalCode) }}
         </div>
       </div>

       <div class="row">
        <div class="col">
          {{ form_row(form.BillingAddressCountry) }}
        </div>
        <div class="col">
             {{ form_row(form.BillingAddressState) }}
        </div>
       </div>



        <div class="row">
          <div class="col-4">
            {{ form_row(form.ShippingAddressCity) }}
          </div>
         <div class="col-4">
           {{ form_row(form.ShippingAddressStreet) }}
         </div>
         <div class="col-4">
              {{ form_row(form.ShippingAddressPostalCode) }}
         </div>
       </div>


       <div class="row">
        <div class="col">
          {{ form_row(form.ShippingAddressCountry) }}
        </div>
        <div class="col">
             {{ form_row(form.ShippingAddressState) }}
        </div>
       </div>


       <div class="row">
        <div class="col">
          {{ form_row(form.Type) }}
        </div>
        <div class="col">
             {{ form_row(form.Industry) }}
        </div>
       </div>
       <div class="row">
        <div class="col">
          {{ form_row(form.AnnualRevenue) }}
        </div>
        <div class="col">
             {{ form_row(form.Employees) }}
        </div>
       </div>

       <div class="row">
        <div class="col">
          {{ form_row(form.SICCode) }}
        </div>
        <div class="col">
             {{ form_row(form.TickerSymbol) }}
        </div>
       </div>



    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endif %}



{% endblock %}
