{% extends '::sidebar.html.twig' %}
{% set selected = 'workspace_page' %}
{% block javascripts_bottom %}
    <script src="{{ asset('..//bundles/crm/plugins/charts_easy_pie/js/jquery.easy-pie-chart.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}"
    type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/charts_easy_pie/easy-pie.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}"
    type="text/javascript"></script>
    {{ parent() }}
{% endblock %}
{% block body %}

    <!-- row -->
    <div class="row row-app margin-none">
        <!-- col -->
        <div class="col-md-12">
            <!-- col-separator -->
            <div class="col-separator col-separator-first border-none">
                <h4 class="innerAll bg-white margin-none border-bottom">Welcome  {% if app.user %}
                                        {{ app.user.fullname }} ...   
                                    {% endif %} </h4>

                <div class="col-separator-h"></div>
                <!-- col-table -->
                <div class="col-table">

                    <!-- col-table-row -->
                    <div class="col-table-row">

                        <!-- col-app -->
                        <div class="col-app">

                            <!-- row-app -->
                            <div class="row row-app margin-none">

                                <!-- col -->
                                <div class="col-lg-10 col-md-9 col-sm-12">

                                    <!-- col-separator -->
                                    <div class="col-separator col-unscrollable">

                                        <!-- col-table -->
                                        <div class="col-table">  
                                            <!-- col-table-row -->
                                            <div class="col-table-row">
                                                <div class="row row-merge">
                                                    <div class="col-sm-4 bg-gray-hover">
                                                        <div class="innerAll text-center">
                                                            <i class="icon-address-book fa fa-5x innerTB text-primary "></i>
                                                            <div class="clearfix"></div>
                                                            <a class="lead innerTB strong text-inverse">Manage Contacts</a>
                                                            <p>Manage your contacts and accounts anywhere you go.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 bg-gray-hover">
                                                        <div class="innerAll text-center">
                                                            <i class="icon-cash-register fa fa-5x innerTB   text-primary"></i>
                                                            <div class="clearfix"></div>
                                                            <a class="lead innerTB strong text-inverse ">Manage Sales</a>
                                                            <p>Close more deals, create sales order and send invoice efforlessly.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 bg-gray-hover">
                                                        <div class="innerAll text-center">
                                                            <i class=" icon-ticket fa fa-5x innerTB  text-primary"></i>
                                                            <div class="clearfix"></div>
                                                            <a class="lead innerTB strong text-inverse ">Manage Cases</a>
                                                            <p>Keep track of your customer requests and quickly resolve issues.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- box -->
                                                <div class="col-app box col-unscrollable overflow-hidden">

                                                    <!-- col-table -->
                                                    <div class="col-table"> 

                                                        <!-- col-table-row -->
                                                        <div class="col-table-row">

                                                            <!-- col-app -->
                                                            <div class="col-app col-unscrollable">

                                                                <!-- col-app -->
                                                                <div class="col-app">
                                                                    <div class="col-separator-h "></div>

                                                                    <div class="relativeWrap">
                                                                        <div class="box-generic">

                                                                            <!-- Tabs Heading -->
                                                                            <div class="tabsbar tabsbar-2">
                                                                                <ul class="row row-merge">
                                                                                    <li class="col-md-3 glyphicons address_book active"><a href="#tab1-4"
                                                                                                                                        data-toggle="tab"><i></i>
                                                                                            Recent Contacts</a></li>
                                                                                    <li class="col-md-3 glyphicons building"><a href="#tab2-4"
                                                                                                                              data-toggle="tab"><i></i> <span> Recent Accounts</span></a>
                                                                                    </li>
                                                                                    <li class="col-md-3 glyphicons notes"><a href="#tab3-4"
                                                                                                                                  data-toggle="tab"><i></i>
                                                                                            <span>Recent Deals</span></a></li>
                                                                                    <li class="col-md-3 glyphicons headphones"><a href="#tab4-4"
                                                                                                                             data-toggle="tab"><i></i> <span>Recent Cases</span></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <!-- // Tabs Heading END -->

                                                                            <div class="tab-content">

                                                                                <!-- Tab content -->
                                                                                <div class="tab-pane active" id="tab1-4">

                                                                                    <!-- col-app -->
                                                                                    <div class="innerAll bg-gray">
                                                                                        <!-- Table -->
                                                                                        <table class="table table-vertical-center table-thead-simple margin-none">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th class="center" style="width: 1%">ID</th>
                                                                                                    <th>Contact Name</th>
                                                                                                    <th class="center">Created Date</th>
                                                                                                    <th class="center">Email</th>
                                                                                                    <th class="text-right">Actions</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                {% for recent_contact in contacts_recent %}
                                                                                                    <!-- Item -->
                                                                                                    <tr class="selectable">
                                                                                                        <td class="center"><a href="{{path('CRMContactBundle_profile', {'id':recent_contact.id})}}">{{ recent_contact.id }}</a></td>
                                                                                                        <td class="strong">
                                                                                                            {% if recent_contact.status == "S" %}
                                                                                                                <i class="fa fa-fw fa-user text-success"></i>
                                                                                                            {% elseif recent_contact.status == "V" %}
                                                                                                                <i class="fa fa-fw fa-briefcase text-info"></i>
                                                                                                            {% elseif recent_contact.status == "B" %}
                                                                                                                <i class="fa fa-fw fa-ban text-danger"></i>
                                                                                                            {% else %}
                                                                                                                <i class="fa fa-fw fa-user text-success"></i>
                                                                                                            {% endif %}


                                                                                                            {{ recent_contact.lastname }}, {{ recent_contact.firstname }} 
                                                                                                        </td>
                                                                                                        <td class="center"><span
                                                                                                                class="label label-primary">{{ recent_contact.dateAdded|date("d F Y") }}</span></td>
                                                                                                        <td class="center">{{ recent_contact.email }}</td>
                                                                                                        <td class="text-right actions">
                                                                                                            <div class="btn-group btn-group-xs">
                                                                                                                <a href="{{path('CRMContactBundle_profile', {'id':recent_contact.id})}}" class="btn btn-default"><i
                                                                                                                        class="fa fa-eye"></i></a>
                                                                                                                <a href="{{ path('CRMContactBundle_edit', {'id':recent_contact.id}) }}" class="btn btn-success"><i
                                                                                                                        class="fa fa-pencil"></i></a> 
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                {% endfor %}
                                                                                                <!-- // Item END -->
                                                                                            </tbody>
                                                                                        </table>
                                                                                        <!-- // Table END -->
                                                                                        <div class="separator bottom"></div>
                                                                                    </div>
                                                                                    <div class="separator bottom"></div>
                                                                                </div>
                                                                                <!-- // Tab content END -->

                                                                                <!-- Tab content -->
                                                                                <div class="tab-pane" id="tab2-4">

                                                                                    <!-- col-app -->
                                                                                    <div class="innerAll bg-gray">
                                                                                        <!-- Table -->
                                                                                        <table class="table table-vertical-center table-thead-simple margin-none">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th class="center" style="width: 1%">ID</th>
                                                                                                    <th>Contact Name</th>
                                                                                                    <th class="center">Created Date</th>
                                                                                                    <th class="center">Email</th>
                                                                                                    <th class="text-right">Actions</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                {% for account_recent in accounts_recent %}
                                                                                                    <!-- Item -->
                                                                                                    <tr class="selectable">
                                                                                                        <td class="center"><a href="{{path('CRMContactBundle_profile_account', {'id':account_recent.id})}}">{{ account_recent.id }}</a></td>
                                                                                                        <td class="strong">
                                                                                                            {% if account_recent.accounttype == "A" %}
                                                                                                                <i class="fa fa-fw fa-user text-success"></i>
                                                                                                            {% elseif account_recent.accounttype == "P" %}
                                                                                                                <i class="fa fa-fw fa-user text-info"></i>
                                                                                                            {% elseif account_recent.accounttype == "B" %}
                                                                                                                <i class="fa fa-fw fa-user text-danger"></i>
                                                                                                            {% else %}
                                                                                                                <i class="fa fa-fw fa-user text-success"></i>
                                                                                                            {% endif %}


                                                                                                            {{ account_recent.name }} {{ account_recent.primaryname }}
                                                                                                        </td>
                                                                                                        <td class="center"><span
                                                                                                                class="label label-primary">{{ account_recent.dateAdded|date("d F Y") }}</span></td>
                                                                                                        <td class="center">{{ account_recent.primaryemail }}</td>
                                                                                                        <td class="text-right actions">
                                                                                                            <div class="btn-group btn-group-xs">
                                                                                                                <a href="{{path('CRMContactBundle_profile_account', {'id':account_recent.id})}}" class="btn btn-default"><i
                                                                                                                        class="fa fa-eye"></i></a>
                                                                                                                <a href="{{path('CRMContactBundle_edit_account', {'id':account_recent.id})}}" class="btn btn-success"><i
                                                                                                                        class="fa fa-pencil"></i></a> 
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                {% endfor %}
                                                                                                <!-- // Item END -->
                                                                                            </tbody>
                                                                                        </table>
                                                                                        <!-- // Table END -->
                                                                                        <div class="separator bottom"></div>
                                                                                    </div>
                                                                                    <div class="separator bottom"></div>
                                                                                </div>
                                                                                <!-- // Tab content END -->

                                                                                <!-- Tab content -->
                                                                                <div class="tab-pane" id="tab3-4">
                                                                                    <!-- col-app -->
                                                                                    <div class="innerAll bg-gray">
                                                                                        <!-- Table -->
                                                                                        <table class="table table-vertical-center table-thead-simple margin-none">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th class="center" style="width: 1%">ID</th>
                                                                                                    <th>Customer Name</th>
                                                                                                    <th class="center">Created Date</th>
                                                                                                    <th class="center">Email</th>
                                                                                                    <th class="text-right">Actions</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                {% for quote_recent in quotes_recent %}
                                                                                                    <!-- Item -->
                                                                                                    <tr class="selectable">
                                                                                                        <td class="center"><a href="{{path('CRMSaleBundle_quote_view', {'id':quote_recent.id, 'quote_id':quote_recent.quoteId, 'status':'0' })}}"> {{ quote_recent.quoteId }}</a></td>
                                                                                                        <td class="strong">
                                                                                                            {% if quote_recent.quoteStatus == "Saved" %}
                                                                                                                <i class="fa fa-fw fa-save text-success"></i>
                                                                                                            {% elseif quote_recent.quoteStatus == "Draft" %}
                                                                                                                <i class="fa fa-fw fa-edit text-info"></i> 
                                                                                                            {% else %}
                                                                                                                <i class="fa fa-fw fa-save text-success"></i>
                                                                                                            {% endif %}


                                                                                                            {{ quote_recent.quoteName }} 
                                                                                                        </td>
                                                                                                        <td class="center"><span
                                                                                                                class="label label-primary">{{ quote_recent.createdDate|date("d F Y") }}</span></td>
                                                                                                        <td class="center">{{ quote_recent.contactPerson }}</td>
                                                                                                        <td class="text-right actions">
                                                                                                            <div class="btn-group btn-group-xs">
                                                                                                                <a href="{{path('CRMSaleBundle_quote_view', {'id':quote_recent.id, 'quote_id':quote_recent.quoteId, 'status':'0' })}}" class="btn btn-default"><i
                                                                                                                        class="fa fa-eye"></i></a>
                                                                                                                <a href="{{ path('CRMSaleBundle_quote_edit', {'id':quote_recent.id, 'quote_id':quote_recent.quoteId }) }}" class="btn btn-success"><i
                                                                                                                        class="fa fa-pencil"></i></a> 
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                {% endfor %}
                                                                                                <!-- // Item END -->
                                                                                            </tbody>
                                                                                        </table>
                                                                                        <!-- // Table END -->
                                                                                        <div class="separator bottom"></div>
                                                                                    </div>
                                                                                    <div class="separator bottom"></div>
                                                                                </div>
                                                                                <!-- // Tab content END -->

                                                                                <!-- Tab content -->
                                                                                <div class="tab-pane" id="tab4-4">
                                                                                    <!-- Tab content -->
                                                                                    <div class="tab-pane active" id="tab1-4">

                                                                                        <!-- col-app -->
                                                                                        <div class="innerAll bg-gray">
                                                                                            <!-- Table -->
                                                                                            <table class="table table-vertical-center table-thead-simple margin-none">
                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <th class="center" style="width: 1%">ID</th>
                                                                                                        <th>Ticket Desc</th>  
                                                                                                        <th class="text-right">Actions</th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody>
                                                                                                    {% for case_recent in cases_recent %}
                                                                                                        <!-- Item -->
                                                                                                        <tr class="selectable">
                                                                                                            <td class="center"><a href="{{ path('CRMSupportBundle_ticket_view', { 'id': case_recent.id }) }}">{{ case_recent.id }}</a></td>
                                                                                                            <td class="strong">
                                                                                                                {% if case_recent.status == "Open" %}
                                                                                                                    <i class="fa fa-fw fa-circle-o text-danger"></i>
                                                                                                                {% elseif case_recent.status == "Close" %}
                                                                                                                    <i class="fa fa-fw  fa-circle text-info"></i>
                                                                                                                {% elseif case_recent.status == "Re-Open" %}
                                                                                                                    <i class="fa fa-fw fa-circle-o text-danger"></i>
                                                                                                                {% else %}
                                                                                                                    <i class="fa fa-fw fa-circle-o text-success"></i>
                                                                                                                {% endif %}


                                                                                                                {{ case_recent.shortdesc }}  
                                                                                                            </td>

                                                                                                            <td class="text-right actions">
                                                                                                                <div class="btn-group btn-group-xs">
                                                                                                                    <a href="{{ path('CRMSupportBundle_ticket_view', { 'id': case_recent.id }) }}" class="btn btn-default"><i
                                                                                                                            class="fa fa-eye"></i></a> 
                                                                                                                </div>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    {% endfor %}
                                                                                                    <!-- // Item END -->
                                                                                                </tbody>
                                                                                            </table>
                                                                                            <!-- // Table END -->
                                                                                            <div class="separator bottom"></div>
                                                                                        </div>
                                                                                        <div class="separator bottom"></div>

                                                                                    </div>
                                                                                    <!-- // Tab content END -->
                                                                                </div>
                                                                                <!-- // Tab content END -->

                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                                <!-- // END col-app -->

                                                            </div>
                                                            <!-- // END col-app -->

                                                        </div>
                                                        <!-- // END col-table-row -->

                                                    </div>
                                                    <!-- // END col-table -->

                                                </div>
                                                <!-- // END col-app.box -->

                                            </div>
                                            <!-- // END col-table-row -->

                                        </div>
                                        <!-- // END col-table -->

                                    </div>
                                    <!-- // END col-separator -->

                                </div>
                                <!-- // END col -->

                                <!-- col -->
                                <div class="col-sm-12 col-md-3 col-lg-2">

                                    <!-- col-separator -->
                                    <div class="col-separator col-unscrollable box col-separator-last reset-components">

                                        <!-- col-table -->
                                        <div class="col-table"> 
                                            <!-- col-table-row -->
                                            <div class="col-table-row">

                                                <!-- col-app -->
                                                <div class="col-app col-unscrollable">

                                                    <!-- col-app -->
                                                    <div class="col-app">
 
                                                        <a href="{{ path('CRMContactBundle_create') }}" class="widget widget-icon inverse innerAll inner-2x text-center text-regular">
                                                            <i class="display-block icon-user-1 text-xlarge"></i>
                                                            <span class="lead">New Contact</span>
                                                        </a>

                                                        <div class="col-separator-h"></div>

                                                        <a href="{{ path('CRMSaleBundle_quote_create') }}" class="widget widget-icon primary innerAll inner-2x text-center text-regular">
                                                            <i class="display-block  icon-briefcase-2 text-xlarge"></i>
                                                            <span class="lead">New Deal</span>
                                                        </a>

                                                        <div class="col-separator-h"></div>

                                                        <a href="{{ path('CRMSaleBundle_sale_order_create') }}" class="widget widget-icon success innerAll inner-2x text-center text-regular">
                                                            <i class="display-block icon-cash-register text-xlarge"></i>
                                                            <span class="lead">New Order</span>
                                                        </a>

                                                        <div class="col-separator-h"></div>
                                                        
                                                        <a href="{{ path('CRMSupportBundle_ticket_create') }}" class="widget-stats widget-stats-info widget-stats-2">
                                                            <i class="display-block icon-headset text-xlarge"></i>
                                                            <span class="lead">New Case</span>
                                                        </a>
                                                    </div>
                                                    <!-- // END col-app -->

                                                </div>
                                                <!-- // END col-app -->

                                            </div>
                                            <!-- // END col-table-row -->

                                            <div class="col-separator-h box"></div>





                                        </div>
                                        <!-- // END col-table -->

                                    </div>
                                    <!-- // END col-separator -->

                                </div>
                                <!-- // END col -->

                            </div>
                            <!-- // END row -->

                        </div>
                        <!-- // END col-app -->

                    </div>
                    <!-- // END col-table-row -->

                </div>
                <!-- // END col-table -->

            </div>
            <!-- // END col-separator -->

        </div>
        <!-- // END col -->

    </div>
    <!-- // END row-app -->
{% endblock %}