{% extends 'base.html.twig' %}

{% block title %}DEICRM{% endblock %}

{% block body %}


{% include 'inc/messages/flash.html.twig' %}

{% include 'inc/breadcrumb.html.twig' %}


{% include 'meeting/inc/breadcrumb.html.twig' %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

{% if form is defined %}


    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endif %}


{% if meeting is defined %}

<div class="card">
  <div class="card-header">
  Search for {{meeting}}
  </div>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Subject</th>
        <th scope="col">Status</th>
        <th scope="col">Start Date</th>
        <th scope="col">Due Date</th>
        <th scope="col">Type</th>
        <th scope="col">Location</th>
        <th scope="col">Date Created</th>
        <th scope="col">Date Modified</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

    {% for data in meeting %}

    <tr>
      <th scope="row">{{ data.Id}}</th>
      <td>{{ data.Subject}}</td>
        <td>{{ data.Status}}</td>
      <td>{{ data.StartDate|date('Y-m-d')}}</td>
      <td>{{ data.DueDate|date('Y-m-d')}}</td>
      <td>{{ data.RelatedToType}}</td>
      <td>{{ data.Location}}</td>
      <td>{{ data.DateCreated}}</td>
      <td>{{ data.DateModified}}</td>
      <td> <a href="/meeting/{{ data.id }}" class="btn btn-primary btn-sm">view</a>

</td>
    </tr>





    {% endfor %}
  </tbody>
  </table>
</div>




{% endif %}

{% block javascripts %}
    {{ parent() }}



{% endblock %}
{% endblock %}
