{% extends 'base.html.twig' %}

{% block title %}DEICRM{% endblock %}

{% block body %}


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../">Home</a></li>
    <li class="breadcrumb-item"><a href="../accounts">Accounts</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="../contacts">Contacts</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="../opportunies">Opportunies</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="../leads">Leads</a></li>
  </ol>
</nav>

{% include 'contact/inc/flash.html.twig' %}

{% include 'contact/inc/breadcrumb.html.twig' %}


{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

{% if form is defined %}


    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endif %}


{% if contact is defined %}

<div class="card">
  <div class="card-header">
    Search result for {{ searchfor }}
  </div>
  <ul class="list-group list-group-flush">
    {% for data in contact %}
    <li class="list-group-item">{{ data.Title}} {{ data.FirstName}} {{ data.LastName}} {{ data.EmailAddress}} <a href="../contact/{{ data.id }}" class="btn btn-primary btn-sm">view</a></li>
    {% endfor %}
  </ul>
</div>

{% endif %}

{% endblock %}
