{% extends 'base.html.twig' %}

{% block title %}DEICRM{% endblock %}

{% block body %}


{% include 'inc/breadcrumb.html.twig' %}


{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

{% include 'Opportunities/inc/flash.html.twig' %}

{% include 'Opportunities/inc/breadcrumb.html.twig' %}



{% if opportunities is defined %}


<ul class="list-group">
  <li class="list-group-item">Opportunity Name: {{opportunities.OpportunityName}}</li>
  <li class="list-group-item">Account Name: {{opportunities.AccountName}}</li>

  <li class="list-group-item">Contact Name: {{opportunities.ContactName}}</li>

  <li class="list-group-item">Opportunity Amount: {{opportunities.OpportunityAmount}} </li>
  <li class="list-group-item">Expected Close Date: {{opportunities.ExpectedCloseDate|date('Y-m-d')}} </li>
  <li class="list-group-item">Sales Stage: {{opportunities.SalesStage}} </li>
  <li class="list-group-item">Probability: {{opportunities.Probability}} </li>
  <li class="list-group-item">Type: {{opportunities.Type}} </li>
  <li class="list-group-item">Next Step: {{opportunities.NextStep}} </li>
  <li class="list-group-item">Lead Source: {{opportunities.LeadSource}} </li>
  <li class="list-group-item">Campaign: {{opportunities.Campaign}} </li>
  <li class="list-group-item">Date Created: {{opportunities.DateCreated}} </li>
  <li class="list-group-item">Description: {{opportunities.Description}} </li>
</ul>

<div class="card mb-3 mt-2">
  <div class="card-header">
    {{opportunities.OpportunityName}} Tasks
  </div>


{% if task|length %}


  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Subject</th>
        <th scope="col">Status</th>
        <th scope="col">Start Date</th>
        <th scope="col">Due Date</th>
        <th scope="col">Type</th>
        <th scope="col">Priority</th>
        <th scope="col">Date Created</th>
        <th scope="col">Date Modified</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

    {% for datatask in task %}

    <tr>
      <th scope="row">{{ datatask.Id}}</th>
      <td>{{ datatask.Subject}}</td>
        <td>{{ datatask.Status}}</td>
      <td>{{ datatask.StartDate|date('Y-m-d')}}</td>
      <td>{{ datatask.DueDate|date('Y-m-d')}}</td>
      <td>{{ datatask.RelatedToType}}</td>
      <td>{{ datatask.Priority}}</td>
      <td>{{ datatask.DateCreated}}</td>
      <td>{{ datatask.DateModified}}</td>
      <td> <a href="/task/{{ datatask.id }}" class="btn btn-primary btn-sm">view</a>



</td>
    </tr>





    {% endfor %}
  </tbody>
  </table>

{% else %}
  <div class="alert alert-danger mt-2 mb-2" role="alert">
  No Task found
  </div>


    {% endif %}
  </div>


  <div class="card">
    <div class="card-header">
      {{opportunities.OpportunityName}} Meeting
    </div>

  {% if meeting|length %}



    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Subject</th>
          <th scope="col">Status</th>
          <th scope="col">Start Date</th>
          <th scope="col">Due Date</th>
          <th scope="col">Type</th>
          <th scope="col">Location</th>
          <th scope="col">Date Created</th>
          <th scope="col">Date Modified</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>

      {% for data in meeting %}

      <tr>
        <th scope="row">{{ data.Id}}</th>
        <td>{{ data.Subject}}</td>
          <td>{{ data.Status}}</td>
        <td>{{ data.StartDate|date('Y-m-d')}}</td>
        <td>{{ data.DueDate|date('Y-m-d')}}</td>
        <td>{{ data.RelatedToType}}</td>
        <td>{{ data.Location}}</td>
        <td>{{ data.DateCreated}}</td>
        <td>{{ data.DateModified}}</td>
        <td> <a href="/meeting/{{ data.id }}" class="btn btn-primary btn-sm">view</a>

  </td>
      </tr>





      {% endfor %}
    </tbody>
    </table>
    {% else %}
      <div class="alert alert-danger mt-2 mb-2" role="alert">
      No Meeting
      </div>


        {% endif %}
      </div>



      <div class="card">
        <div class="card-header">
        {{opportunities.OpportunityName}} Notes
        </div>
      {% if note|length %}



        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Subject</th>
              <th scope="col">Related Type</th>
              <th scope="col">Related To</th>
              <th scope="col">Date Created</th>
              <th scope="col">Date Modified</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>

          {% for data in note %}

          <tr>
            <th scope="row">{{ data.Id}}</th>
            <td>{{ data.Subject}}</td>
            <td>{{ data.RelatedToType}}</td>
            <td>{{ data.RelatedTo}}</td>
            <td>{{ data.DateCreated}}</td>
            <td>{{ data.DateModified}}</td>
            <td> <a href="/note/{{ data.id }}" class="btn btn-primary btn-sm">view</a>
      </td>
          </tr>




          {% endfor %}
        </tbody>
        </table>
        {% else %}
          <div class="alert alert-danger mt-2 mb-2" role="alert">
          No Notes for  {{opportunities.OpportunityName}}
          </div>


            {% endif %}
          </div>


{% endif %}

{% endblock %}
