{% extends '::sidebar.html.twig' %}
{% set selected = 'contact_manager' %}
{% block javascripts_bottom %} 

    <script src="{{ asset('..//bundles/crm/plugins/forms_editors_wysihtml5/js/wysihtml5-0.3.0_rc2.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/forms_editors_wysihtml5/js/bootstrap-wysihtml5-0.0.2.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_editors_wysihtml5/wysihtml5.init.js?v=v2.0.0-rc1') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/forms_wizards/jquery.bootstrap.wizard.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_wizards/frm-contact.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/forms_elements_bootstrap-datepicker/js/bootstrap-datepicker.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_elements_bootstrap-datepicker/bootstrap-datepicker.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_elements_fuelux-radio/fuelux-radio.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_elements_fuelux-checkbox/fuelux-checkbox.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/forms_elements_inputmask/jquery.inputmask.bundle.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_elements_inputmask/inputmask.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    {{ parent() }}
{% endblock %}

{% block body %}

    <!-- row -->
    <div class="row row-app margin-none">

        <!-- col -->
        <div class="col-md-12">

            <!-- col-separator -->
            <div class="col-separator col-separator-first box">
                <h4 class="innerAll bg-white margin-none border-bottom">Create A Contact Profile</h4>

                <div class="col-separator-h"></div>  
                <!-- Tabs -->
                <div class="widget widget-tabs widget-tabs-social-account widget-tabs-responsive"> 

                    <div class="widget-body">

                        <!-- Tab content -->
                        <div id="tabAccount" class="tab-pane active widget-body-regular padding-none border-none reset-components">
                            <!-- Widget -->
                            <div class="widget widget-tabs border-bottom-none">
                                <div class="wizard">
                                    <div class="widget widget-tabs widget-tabs-double widget-tabs-responsive">
                                        <!-- Widget heading -->
                                        <div class="widget-head">
                                            <ul>
                                                <li class="active"><a class="glyphicons edit" href="#general-info" data-toggle="tab"><i></i>General Profile</a></li>
                                                <li><a class="glyphicons settings" href="#contacts-info" data-toggle="tab"><i></i>Contacts & Social</a></li>
                                                <li><a class="glyphicons settings" href="#remarks-notes" data-toggle="tab"><i></i>Notes</a></li>
                                            </ul>
                                        </div>
                                        <!-- // Widget heading END -->
                                        <form action="{{ path('CRMContactBundle_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal" id="frmcreatecontact">

                                            <div class="widget-body">

                                                <div class="tab-content">

                                                    <!-- Tab content -->
                                                    <div class="tab-pane active" id="general-info">
                                                        <!-- Row -->
                                                        <p class="separator text-center"><i class="icon-ellipsis-horizontal icon-3x"></i></p>

                                                        <h3>General<span>  Fill up general information.</span></h3>

                                                        <div class="separator line bottom"></div>
                                                        <div class="row">

                                                            <!-- Column -->
                                                            <div class="col-md-6">
                                                                <!-- Group -->

                                                                <!-- Group -->
                                                                <div class="form-group margin-none innerB">
                                                                    <label class="col-md-3 control-label">Title</label>
                                                                    <div class="col-md-9">
                                                                        {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                                                                    </div>
                                                                </div>
                                                                <!-- // Group END -->

                                                                <!-- Group -->
                                                                <div class="form-group margin-none innerB">
                                                                    <label class="col-md-3 control-label">Firstname</label>
                                                                    <div class="col-md-9">
                                                                        <div class="input-group">
                                                                            {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
                                                                            <span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Last name is mandatory"><i class="fa fa-info-circle"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- // Group END -->

                                                                <!-- Group -->
                                                                <div class="form-group margin-none innerB">
                                                                    <label class="col-md-3 control-label">Last name</label>
                                                                    <div class="col-md-9">
                                                                        <div class="input-group">
                                                                            {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
                                                                            <span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Last name is mandatory"><i class="fa fa-info-circle"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- // Group END -->
                                                            </div>
                                                            <!-- // Column END -->

                                                            <!-- Column -->
                                                            <div class="col-md-6">

                                                                <!-- Group -->
                                                                <div class="form-group margin-none innerB">
                                                                    <label class="col-md-3 control-label">Job Title</label>
                                                                    <div class="col-md-9">
                                                                        {{ form_widget(form.jobtitle, { 'attr': {'class': 'form-control'} }) }}
                                                                    </div>
                                                                </div>
                                                                <!-- // Group END -->

                                                                <!-- Group -->
                                                                <div class="form-group margin-none innerB">
                                                                    <label class="col-md-3 control-label">Company</label>
                                                                    <div class="col-md-9">
                                                                        {{ form_widget(form.company, { 'attr': {'class': 'form-control'} }) }}
                                                                        <script>
                                                                            var contact_company = [{% for account in accounts %}
                                                                                "{{account.name}}",{% endfor %}
                                                                                "CandySoft Solutions"
                                                                            ];
                                                                            $("#contact_company").autocomplete({
                                                                                source: function (request, response) {
                                                                                    var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(
                                                                                            request.term), "i");
                                                                                    response($.grep(contact_company, function (item) {
                                                                                        return matcher.test(item);
                                                                                    }));
                                                                                }
                                                                            });
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                                <!-- // Group END -->
                                                                <!-- Group -->
                                                                <div class="form-group margin-none innerB">
                                                                    <label class="col-md-3 control-label">Contact Status</label>
                                                                    <div class="col-md-9">
                                                                        {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- // Column END -->

                                                        </div>

                                                        <!-- Row -->
                                                        <p class="separator text-center"><i class="icon-ellipsis-horizontal icon-3x"></i></p>

                                                        <h3>Address<span>  Fill up address information.</span></h3>

                                                        <div class="separator line bottom"></div>
                                                        <div class="row">

                                                            <!-- Column -->
                                                            <div class="col-md-6">
                                                                <!-- Group -->

                                                                <!-- Group -->
                                                                <div class="form-group margin-none innerB">
                                                                    <label class="col-md-3 control-label">Street</label>
                                                                    <div class="col-md-9">
                                                                        <div class="input-group">
                                                                            {{ form_widget(form.street, { 'attr': {'class': 'form-control'} }) }}
                                                                            <span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Street is mandatory"><i class="fa fa-info-circle"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- // Group END -->

                                                                <!-- Group -->
                                                                <div class="form-group margin-none innerB">
                                                                    <label class="col-md-3 control-label">State</label>
                                                                    <div class="col-md-9">
                                                                        <div class="input-group">
                                                                            {{ form_widget(form.state, { 'attr': {'class': 'form-control'} }) }}
                                                                            <span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="State is mandatory"><i class="fa fa-info-circle"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- // Group END -->

                                                            </div>
                                                            <!-- // Column END -->

                                                            <!-- Column -->
                                                            <div class="col-md-6">

                                                                <!-- Group -->
                                                                <div class="form-group margin-none innerB">
                                                                    <label class="col-md-3 control-label">City</label>
                                                                    <div class="input-group">
                                                                        {{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
                                                                        <span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="City is mandatory"><i class="fa fa-info-circle"></i></span>
                                                                    </div>
                                                                </div>
                                                                <!-- // Group END -->

                                                                <!-- Group -->
                                                                <div class="form-group margin-none innerB">
                                                                    <label class="col-md-3 control-label">Country</label>
                                                                    <div class="input-group">
                                                                        {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
                                                                        <span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Countryis mandatory"><i class="fa fa-info-circle"></i></span>
                                                                    </div>
                                                                </div>
                                                                <!-- // Group END --> 
                                                            </div>
                                                            <!-- // Column END -->

                                                        </div>
                                                        <!-- // Row END -->
                                                        <p class="separator text-center"><i class="icon-ellipsis-horizontal icon-3x"></i></p>


                                                        <div class="separator line bottom"></div>

                                                        <!-- Row -->
                                                        <div class="bg-gray innerAll inner-2x">
                                                            <div class="row"> 

                                                                <!-- Column -->
                                                                <div class="col-md-10">
                                                                    <div>
                                                                        <h3>Contact Types<span>  Select contact type that applies.</span></h3>
                                                                        {% for choice in form.Category %}  
                                                                            <div class="checkbox">
                                                                                <label for="topic_fuzz" class="checkbox-custom">
                                                                                    <i class="fa fa-fw fa-square-o"></i> 
                                                                                    {{ form_widget(choice) }} {{ form_label(choice) }}
                                                                                </label>
                                                                            </div>

                                                                        {% endfor %}
                                                                        <!--
                                                                         
                                                                         
                                                                         <div class="checkbox">
                                                                             <label for="topic_digester" class="checkbox-custom">
                                                                                 <i class="fa fa-fw fa-square-o"></i>
                                                                                 <input type="checkbox" id="topic_digester" value="digester" name="topic" />
                                                                                 Mailing list digester
                                                                             </label>
                                                                         </div>-->


                                                                    </div>
                                                                </div>
                                                                <!-- // Column END -->

                                                            </div>
                                                            <!-- // Row END -->	
                                                        </div>


                                                    </div>
                                                    <!-- // Tab content END -->

                                                    <!-- Tab content -->
                                                    <div class="tab-pane" id="contacts-info">

                                                        <div class="separator line bottom"></div>

                                                        <!-- Row -->
                                                        <div class="row">

                                                            <!-- Column -->
                                                            <div class="col-md-3">
                                                                <strong>Contact details</strong>
                                                                <p class="muted">Fill up some contact information for this profile.</p>
                                                            </div>
                                                            <!-- // Column END -->

                                                            <!-- Column -->
                                                            <div class="col-md-9">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <label for="inputPhone">Phone 1</label>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-phone"></i></span> 
                                                                                {{ form_widget(form.phone1, { 'attr': {'class': 'form-control'} }) }}
                                                                        </div>
                                                                        <div class="separator bottom"></div>
                                                                        <label for="inputPhone">Phone 2</label>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                                                {{ form_widget(form.phone2, { 'attr': {'class': 'form-control'} }) }}
                                                                        </div>
                                                                        <div class="separator bottom"></div>
                                                                        <label for="inputPhone">Mobile</label>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
                                                                                {{ form_widget(form.mobile, { 'attr': {'class': 'form-control ', 'id':'inputPhone'} }) }}
                                                                        </div>
                                                                        <div class="separator bottom"></div>

                                                                        <label for="inputEmail">Fax</label>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-fax"></i></span>
                                                                                {{ form_widget(form.fax, { 'attr': {'class': 'form-control ', 'id':'inputPhone'} }) }}
                                                                        </div>
                                                                        <div class="separator bottom"></div>

                                                                        <label for="inputEmail">E-mail</label>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                                                {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'id':'inputEmail', 'placeholder':'email@email.com'} }) }}
                                                                        </div>
                                                                        <div class="separator bottom"></div>

                                                                        <label for="inputWebsite">Website</label>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-link"></i></span>
                                                                                {{ form_widget(form.website, { 'attr': {'class': 'form-control'} }) }}
                                                                        </div>
                                                                        <div class="separator bottom"></div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label for="inputFacebook">Linkedin</label>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-linkedin"></i></span>
                                                                                {{ form_widget(form.linkedin, { 'attr': {'class': 'form-control'} }) }}
                                                                        </div>
                                                                        <div class="separator bottom"></div>
                                                                        <label for="inputFacebook">Facebook</label>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                                                                                {{ form_widget(form.facebook, { 'attr': {'class': 'form-control', 'placeholder':'http://www.facebook.com/candysoftware'} }) }}
                                                                        </div>
                                                                        <div class="separator bottom"></div>

                                                                        <label for="inputTwitter">Twitter</label>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                                                                                {{ form_widget(form.twitter, { 'attr': {'class': 'form-control','placeholder':'http://www.twiter.com/candysoftware'} }) }}
                                                                        </div>
                                                                        <div class="separator bottom"></div>

                                                                        <label for="inputSkype">Skype ID</label>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-skype"></i></span>
                                                                                {{ form_widget(form.skype, { 'attr': {'class': 'form-control','placeholder':'candysoftware'} }) }}
                                                                        </div>
                                                                        <div class="separator bottom"></div>

                                                                        <label for="inputgplus">Google</label>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
                                                                                {{ form_widget(form.googleid, { 'attr': {'class': 'form-control','id':'inputgplus'} }) }}
                                                                        </div>
                                                                        <div class="separator bottom"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- // Column END -->

                                                        </div>
                                                        <!-- // Row END -->

                                                    </div>
                                                    <!-- // Tab content END -->

                                                    <div class="tab-pane" id="remarks-notes"> 

                                                        <div class="separator line bottom"></div>

                                                        {{ form_widget(form.addnotes, { 'attr': {'class': 'form-control','rows':'5'} }) }}

                                                    </div>
                                                    <div class="separator"></div> 
                                                    <!-- Wizard pagination controls -->
                                                    <ul class="pagination margin-bottom-none pull-left">
                                                        <li class="primary previous first"><a href="#" class="no-ajaxify">First</a></li>
                                                        <li class="last primary"><a href="#" class="no-ajaxify">Last</a></li>
                                                    </ul>
                                                    <ul class="pagination margin-bottom-none pull-right">
                                                        <li class="primary previous"><a href="#" class="no-ajaxify">Previous</a></li>
                                                        <li class="next primary"><a href="#" class="no-ajaxify">Next</a></li>
                                                        <li class="next finish " style="display:none;"><input type="submit" class="btn btn-primary finish" style="margin-left: 10px;" value="Finish & Save Contact"></li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                    <div class="separator"></div> 
                                                </div>

                                            </div>                         
                                            {{ form_rest(form) }}


                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- // Widget END -->



                        </div>
                        <!-- // Tab content END --> 

                    </div>
                </div>
                <!-- // Tabs END --> 
            </div>
            <!-- // END col-separator -->

        </div>
        <!-- // END col -->

    </div>
    <!-- // END row-app -->

{% endblock %}