{% extends '::sidebar.html.twig' %}
{% set selected = 'mycrm_settings' %}
{% block javascripts_bottom %} 
    {{ parent() }}
    <script src="{{ asset('..//bundles/crm/components/form_search_filter/search_filter.js') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/tables_datatables/js/jquery.dataTables.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/tables_datatables/extras/TableTools/media/js/TableTools.min.js?v=v2.0.0-rc1') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/tables_datatables/extras/ColVis/media/js/ColVis.min.js?v=v2.0.0-rc1') }}" type="text/javascript"></script>

    <script src="{{ asset('..//bundles/crm/components/tables_datatables/js/DT_bootstrap.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/tables_datatables/js/datatables.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>


{% endblock %} 
{% block body %} 

    <!-- row-app -->
    <div class="row row-app">

        <!-- col -->
        <div class="col-sm-3">

            <!-- col-separator -->
            <div class="col-separator col-separator-first box col-unscrollable">

                <!-- col-table -->
                <div class="col-table">

                    <div class="heading-buttons innerLR border-bottom">
                        <h4 class="margin-none innerTB pull-left">Manage</h4>
                        <button class="btn btn-primary btn-xs pull-right"><i class="fa fa-plus"></i> Add</button>
                        <div class="clearfix"></div>
                    </div>

                    <ul class="list-group list-group-1 borders-none">
                        {% for role in roles %} 
                            <li class="list-group-item"><a href=""><span class="badge badge-primary pull-right">{{ role.rolelist|length }} </span>{{ role.name }}</a></li>
                                {% else %}
                                <p>There are no categories entries. We recommend to create.</p>
                                {% endfor %}

                                </ul>
                                <div class="col-separator-h box"></div>

                                <h5 class="innerAll border-bottom margin-none">Recent Contacts</h5>

                                <!-- col-table-row -->
                                <div class="col-table-row">

                                    <!-- col-app -->
                                    <div class="col-app col-unscrollable">

                                        <!-- col-app -->
                                        <div class="col-app">
                                            {% for user_recent in users_recent %} 
                                                <div class="media contact"> 
                                                    <div class="media-body">
                                                        <h5 class="media-heading strong"><a href="{{path('CRMUserBundle_profile', {'id':user_recent.id})}}">{{ user_recent.fullname }}</a></h5>
                                                        <i class="fa fa-phone"></i> {{ user_recent.phone | default(user_recent.mobile) }}
                                                    </div>
                                                </div> 
                                                {% else %}
                                                    <p>There are no contact entries you. We recommend to create.</p>
                                                    {% endfor %}

                                                    </div>
                                                    <!-- // END col-app -->

                                                </div>
                                                <!-- // END col-app -->

                                            </div>
                                            <!-- // END col-table-row -->

                                        </div>
                                        <!-- // END col-table -->

                                    </div>
                                    <!-- // END col-separator.box -->

                                </div>
                                <!-- // END col -->

                                <!-- col -->
                                <div class="col-sm-9">

                                    <!-- col-separator.box -->
                                    <div class="col-separator col-unscrollable box">

                                        <!-- col-table -->
                                        <div class="col-table">

                                            <h4 class="margin-none innerAll border-bottom">Users Manager</h4>

                                            <!-- col-table-row -->
                                            <div class="col-table-row">

                                                <!-- col-app -->
                                                <div class="col-app col-unscrollable">

                                                    <!-- col-app -->
                                                    <div class="col-app">

                                                        <!-- Widget -->
                                                        <div class="widget">
                                                            <div class="widget-body innerAll inner-2x">
                                                                <!-- Table -->
                                                                <table class="dynamicTable tableTools table table-striped scrollVertical colVis">
                                                                    <!-- Table heading -->
                                                                    <thead>
                                                                        <tr> 
                                                                            <th>Name</th> 
                                                                            <th>Email</th>
                                                                            <th>Status</th> 
                                                                            <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <!-- // Table heading END -->

                                                                    <!-- Table body -->
                                                                    <tbody>
                                                                       {% for user in users %}  
                                                                            <!-- Table row -->
                                                                            <tr class="gradeX"> 
                                                                                <td><a href="{{path('CRMUserBundle_profile', {'id':user.id})}}">{{ user.fullname }}</a></td> 
                                                                                <td><a href="{{path('CRMUserBundle_profile', {'id':user.id})}}">{{ user.email }}</a></td>
                                                                                <td class="center">{{ user.enabled }}</td> 
                                                                                <td>				<a href="{{path('CRMUserBundle_profile', {'id':user.id})}}" class="btn btn-stroke btn-circle btn-inverse"><i class="fa fa-user"></i></a>
                                                                                    <button class="btn btn-stroke btn-circle btn-danger"><i class="fa fa-trash-o"></i></button></td>
                                                                            </tr>
                                                                            <!-- // Table row END --> 
                                                                        {% endfor %}
                                                                    </tbody>
                                                                    <!-- // Table body END -->

                                                                </table>
                                                                <!-- // Table END -->

                                                            </div></div>

                                                    </div>
                                                    <!-- // END col-app -->

                                                </div>
                                                <!-- // END col-app.col-unscrollable -->

                                            </div>
                                            <!-- // END col-table-row -->

                                        </div>
                                        <!-- // END col-table -->

                                    </div>
                                    <!-- // END col-separator.box -->

                                </div>
                                <!-- // END col -->

                            </div>
                            <!-- // END row-app -->

                            {% endblock %}