{% extends '::sidebar.html.twig' %}
{% set selected = 'mycrm_settings' %}
{% block javascripts_bottom %} 
    {{ parent() }}
    <script src="{{ asset('..//bundles/crm/plugins/forms_editors_wysihtml5/js/wysihtml5-0.3.0_rc2.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/forms_editors_wysihtml5/js/bootstrap-wysihtml5-0.0.2.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_editors_wysihtml5/wysihtml5.init.js?v=v2.0.0-rc1') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/forms_wizards/jquery.bootstrap.wizard.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script> 
    <script src="{{ asset('..//bundles/crm/plugins/forms_elements_bootstrap-datepicker/js/bootstrap-datepicker.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_elements_bootstrap-datepicker/bootstrap-datepicker.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_elements_fuelux-radio/fuelux-radio.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_elements_fuelux-checkbox/fuelux-checkbox.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/forms_elements_select2/js/select2.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_elements_select2/select2.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
     <script src="{{ asset('..//bundles/crm/plugins/notifications_gritter/js/jquery.gritter.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}"
    type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/ui_modals/bootbox.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}"
    type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/ui_modals/modals.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}"
    type="text/javascript"></script>
{% endblock %} 

{% block body %}

    <!-- row -->
    <div class="row row-app margin-none">

        <!-- col -->
        <div class="col-md-12">

            <!-- col-separator -->
            <div class="col-separator col-separator-first box">
                <h4 class="innerAll bg-white margin-none border-bottom">Create A Contact Profile</h4>

                <div class="col-separator-h box"></div>
                <div class="widget-body">

                    <div class="tab-content">

                        <!-- Tab content -->
                        <div id="tabAccount" class="tab-pane active widget-body-regular padding-none border-none reset-components">
                            <!-- Widget -->
                            <div class="wizard">
                                <div class="widget widget-tabs border-bottom-none">

                                    <!-- Widget heading -->
                                    <div class="widget-head">
                                        <ul>
                                            <li class="active"><a class="glyphicons edit" href="#account-details" data-toggle="tab"><i></i>Account details</a></li>
                                            <li><a class="glyphicons cardio" href="#account-activities" data-toggle="tab"><i></i>Account Activities</a></li>
                                        </ul>
                                    </div>
                                    <!-- // Widget heading END -->

                                    <div class="widget-body form-horizontal">
                                        <div class="tab-content"> 

                                            <!-- Tab content -->
                                            <div class="tab-pane active" id="account-details">
                                                <h3>General<span>  Fill up general information.</span></h3>
                                                <!-- Row -->
                                                <div class="row">

                                                    <!-- Column -->
                                                    <div class="col-md-6">

                                                        <!-- Group -->
                                                        <div class="form-group margin-none innerB">
                                                            <label class="col-md-3 control-label">Full name</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" value="{{ profile.fullname }}"  readonly="true">
                                                                    <span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="First name is mandatory"><i class="fa fa-question-circle"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- // Group END -->
 


                                                    </div>
                                                    <!-- // Column END -->

                                                    <!-- Column -->
                                                    <div class="col-md-6">  

                                                        <!-- Group -->
                                                        <div class="form-group margin-none innerB">
                                                            <label class="col-md-3 control-label">Position / Title</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group">
                                                                    <input type="position" class="form-control" value="{{ profile.position }}"  readonly="true">
                                                                    <span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="First name is mandatory"><i class="fa fa-question-circle"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- // Group END -->

                                                        <!-- Group -->
                                                        <div class="form-group margin-none innerB">
                                                            <label class="col-md-3 control-label">Date of birth</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group">
                                                                    <input type="birthdate" class="form-control" value="{{ profile.birthdate|date('d.M.Y') }}"  readonly="true" id="datepicker1">
                                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- // Group END -->
                                                    </div>
                                                    <!-- // Column END -->

                                                </div>
                                                <!-- // Row END -->
                                                <div class="separator line bottom"></div>
                                                <h3>Contact<span>  Fill up general information.</span></h3> 

                                                <div class="row">
                                                    <div class="col-md-6"> 

                                                        <div class="form-group margin-none innerB">
                                                            <label class="col-md-3 control-label" for="inputPhone">Phone</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                                    <input type="email" class="form-control" value="{{ profile.phone }}"  readonly="true">
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="form-group margin-none innerB">
                                                            <label class="col-md-3 control-label" for="inputPhone">Phone</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
                                                                    <input type="email" class="form-control" value="{{ profile.mobile }}"  readonly="true">
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="form-group margin-none innerB">
                                                            <label class="col-md-3 control-label" for="inputEmail">E-mail</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                                    <input type="email" class="form-control" value="{{ profile.email }}" readonly="true">
                                                                </div>
                                                            </div>  
                                                        </div> 
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group margin-none innerB">
                                                            <label class="col-md-3 control-label" for="inputFacebook">Facebook</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                                                                    <input type="text" id="inputFacebook" class="form-control" value="{{ profile.facebook }}" />
                                                                </div>
                                                            </div>
                                                        </div> 

                                                        <div class="form-group margin-none innerB">
                                                            <label class="col-md-3 control-label" for="inputTwitter">Twitter</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                                                                    <input type="text" id="inputTwitter" class="form-control" value="{{ profile.twitter }}" />
                                                                </div>
                                                            </div>
                                                        </div> 

                                                        <div class="form-group margin-none innerB">
                                                            <label class="col-md-3 control-label" for="inputSkype">Skype ID</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="fa fa-skype"></i></span>
                                                                    <input type="text" id="inputSkype" class="form-control" value="{{ profile.skype }}" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div> 
                                                <!-- // Column END -->

                                                <!-- // Row END --> 
                                                <div class="separator line bottom"></div>
                                                <h3>Description<span>  Write short description.</span></h3> 

                                                <textarea class="form-control" id="mustHaveId"></textarea>
                                                <div class="separator line bottom"></div>

                                                <!-- Row -->
                                                <div class="row">

                                                    <!-- Column -->
                                                    <div class="col-md-3">
                                                        <strong>Access details</strong>
                                                        <p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                    <!-- // Column END -->

                                                    <!-- Column -->
                                                    <div class="col-md-9">
                                                        <div class="separator line bottom"></div>

                                                        <!-- Row -->
                                                        <div class="bg-gray innerAll inner-2x">
                                                            <div class="row"> 

                                                                <!-- Column -->
                                                                <div class="col-md-10">
                                                                    <div> 
                                                                        {% for role in profile.roles %}  
                                                                            <div class="checkbox">
                                                                                <label for="topic_fuzz" class="checkbox-custom">
                                                                                    <i class="fa fa-fw fa-square-o"></i> 
                                                                                    {{ role}}
                                                                                </label>
                                                                            </div>

                                                                        {% endfor %}



                                                                    </div>
                                                                </div>
                                                                <!-- // Column END -->

                                                            </div>
                                                            <!-- // Row END -->	
                                                        </div>
                                                    </div>
                                                    <!-- // Column END -->

                                                </div>
                                                <!-- // Row END -->  
                                            </div>
                                            <!-- // Tab content END --> 


                                            <div class="tab-pane" id="account-activities"> 
                                                <!-- col-app -->
                                                <div class="col-app col-unscrollable">

                                                    <!-- col-app -->
                                                    <div class="col-app bg-primary-light">

                                                        <ul class="timeline-activity list-unstyled">
                                                            {% for recent_activity in recent_activities %} 
                                                                <li>
                                                                    {% if "create" in recent_activity.activityDesc %}
                                                                        <i class="list-icon fa fa-plus"></i>
                                                                    {% elseif "delete" in recent_activity.activityDesc %}
                                                                        <i class="list-icon fa fa-minus"></i>
                                                                    {% elseif "update" in recent_activity.activityDesc %}
                                                                        <i class="list-icon fa fa-edit"></i>
                                                                    {% elseif "contact" in recent_activity.activityDesc %}
                                                                        <i class="list-icon fa fa-user"></i>    
                                                                    {% else %}
                                                                        <i class="list-icon fa fa-user"></i>
                                                                    {%endif%}
                                                                    <div class="block block-inline">
                                                                        <div class="caret"></div>
                                                                        <div class="box-generic">
                                                                            <div class="timeline-top-info">
                                                                                <i class="fa fa-user"></i>
                                                                                {% if recent_activity.activityUser == app.user.email %}
                                                                                    {% set you = "You" %}
                                                                                {% else %}
                                                                                    {% set you = recent_activity.activityUser %}
                                                                                {% endif %}

                                                                                
                                                                                    {% autoescape false %}{{ recent_activity.activityDesc |replace({"creation_user": "<span class='text-primary'><strong>" ~ you ~ "</strong></span>" |raw }) }}{% endautoescape %}
                                                                                
                                                                                 
                                                                            </div>
                                                                        </div>
                                                                        <div class="timeline-bottom">
                                                                            <i class="fa fa-clock-o"></i> {{ recent_activity.dateAdded|date("H:i") }} &nbsp;
                                                                            <i class="fa fa-calendar"></i>  {{ recent_activity.dateAdded|date("d F Y") }}
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>



                                                    </div>
                                                    <!-- // END col-app -->

                                                </div>

                                            </div>

                                            <div class="separator top">
                                                <form action="{{ path('CRMUserBundle_delete', { 'id': profile.id }) }}" method="post" id="frmdeluser">
                                                    {{ form_widget(delete_form) }}
                                                     <button id="confirm-delete-user" class="pull-right btn btn-danger"><i class="fa fa-fw fa-trash-o"></i> Delete User</button>
                                                    
                                                </form>
                                                <button onclick="location.href = '{{path('CRMUserBundle_edit', {'id':profile.id})}}'" class="btn btn-primary"><i class="fa fa-fw fa-check-square-o"></i> Update</button> 
                                            </div>
                                            <!-- // Form actions END -->
                                            <div class="clearfix"></div>
                                            <!-- // Wizard pagination controls END -->
                                        </div>

                                    </div>

                                </div>
                                <!-- // Widget END -->

                            </div>

                        </div>
                        <!-- // Tab content END --> 

                    </div>

                </div>

                <!-- // END col-separator -->

            </div>
            <!-- // END col -->

        </div>
        <!-- // END row-app -->

    {% endblock %}