{% extends 'base.html.twig' %}

{% block title %}DEICRM{% endblock %}

{% block body %}


{% include 'contact/inc/flash.html.twig' %}

{% include 'contact/inc/breadcrumb.html.twig' %}




{% if form is defined %}


    {{ form_start(form) }}
    <div class="row">
      <div class="col-2">
        {{ form_row(form.Title) }}
      </div>
     <div class="col-5">
       {{ form_row(form.FirstName) }}
     </div>
     <div class="col-5">
          {{ form_row(form.LastName) }}
     </div>
   </div>

   <div class="row">
    <div class="col-4">
      {{ form_row(form.OfficePhone) }}
    </div>
    <div class="col-4">
         {{ form_row(form.Mobile) }}
    </div>
    <div class="col-4">
         {{ form_row(form.Fax) }}
    </div>
  </div>



 <div class="row">
   <div class="col-4">
     {{ form_row(form.PrimaryAddressCity) }}
   </div>
  <div class="col-4">
    {{ form_row(form.PrimaryAddressStreet) }}
  </div>
  <div class="col-4">
       {{ form_row(form.PrimaryAddressPostalCode) }}
  </div>
</div>

<div class="row">
 <div class="col">
   {{ form_row(form.PrimaryAddressCountry) }}
 </div>
 <div class="col">
      {{ form_row(form.PrimaryAddressState) }}
 </div>
</div>



 <div class="row">
   <div class="col-4">
     {{ form_row(form.AlternateAddressCity) }}
   </div>
  <div class="col-4">
    {{ form_row(form.AlternateAddressStreet) }}
  </div>
  <div class="col-4">
       {{ form_row(form.AlternateAddressPostalCode) }}
  </div>
</div>


<div class="row">
 <div class="col">
   {{ form_row(form.AlternateAddressCountry) }}
 </div>
 <div class="col">
      {{ form_row(form.AlternateAddressState) }}
 </div>
</div>

<div class="row">
 <div class="col-11">
   {{ form_row(form.Campaign) }}
 </div>
 <div class="col-1">
    <button type="button" class="btn btn-primary  mr-5 mt-4" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">+</button>
 </div>
</div>

    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endif %}



{% endblock %}
