{% extends '::sidebar.html.twig' %}
{% set selected = 'sales_manager' %}
{% block javascripts_bottom %} 

    <script src="{{ asset('..//bundles/crm/components/form_search_filter/search_filter.js') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/tables_datatables/js/jquery.dataTables.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/tables_datatables/extras/TableTools/media/js/TableTools.min.js?v=v2.0.0-rc1') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/tables_datatables/extras/ColVis/media/js/ColVis.min.js?v=v2.0.0-rc1') }}" type="text/javascript"></script>

    <script src="{{ asset('..//bundles/crm/components/tables_datatables/js/DT_bootstrap.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/tables_datatables/js/datatables.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    {{ parent() }}
{% endblock %} 
{% block body %}  
    <div class="row row-app">
        <div class="col-md-12">
            <div class="col-separator box col-separator-first col-unscrollable">
                <div class="col-table">

                    <!-- Heading -->
                    <div class="heading-buttons border-bottom innerLR">
                        <div class="btn-group btn-group-xs pull-right">
                            <a href="{{path('CRMContactBundle_create_account' )}}" class="btn btn-primary"><i class="fa fa-fw fa-plus-circle"></i> Add new Account</a>
                        </div>
                        <h4 class="margin-none innerTB">Manage Accounts</h4>
                        <div class="clearfix"></div>
                    </div>
                    <!-- // Heading END --> 
                    <div class="col-separator-h box"></div>

                    <div class="col-table-row">
                        <div class="col-app col-unscrollable">
                            <div class="col-app">

                                <div class="col-table">
                                    <h4 class="innerAll margin-none border-bottom">Your Accounts</h4>
                                    <div class="col-table-row">

                                        <div class="col-app col-unscrollable">
                                            <div class="col-app">
                                                <div class="innerAll"> 

                                                    <div class="separator bottom"></div>  
                                                    <!-- Products table -->
                                                    <table class="dynamicTable tableTools table table-striped scrollVertical colVis table table-bordered table-condensed table-striped table-primary table-vertical-center checkboxs js-table-sortable">
                                                        <thead>
                                                            <tr> 
                                                                <th>Create Deal</th>
                                                                <th>Name</th> 
                                                                <th>Email</th>
                                                                <th>Primary Contact</th> 
                                                                <th class="center">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for account in accounts %} 
                                                                <!-- Table row -->
                                                                <tr class="gradeX"> 
                                                                    <td class="center">
                                                                        {% if my_products == 0 %}
                                                                            <button id="no-product-no-quote" class="btn btn-stroke btn-circle btn-inverse"><i class="fa fa-file-text-o"></i></button>
                                                                            {%else %}
                                                                            <a href="{{path('CRMContactBundle_create_account_quote', {'id':account.id})}}" class="btn btn-stroke btn-circle btn-inverse"><i class="fa fa-file-text-o"></i></a> 

                                                                        {% endif %}
                                                                    </td>
                                                                    <td><a href="{{path('CRMContactBundle_profile_account', {'id':account.id})}}">{{ account.name }} </a></td> 
                                                                    <td>{{ account.primaryemail }}</td>
                                                                    <td class="center">{{ account.primaryphone }}</td> 
                                                                    <td class="center">		
                                                                        <a href="{{path('CRMContactBundle_profile_account', {'id':account.id})}}" class="btn btn-stroke btn-circle btn-inverse"><i class="fa fa-user"></i></a> 
                                                                        <a href="{{path('CRMContactBundle_edit_account', {'id':account.id})}}" class="btn btn-stroke btn-circle btn-inverse"><i class="fa fa-pencil"></i></a> 

                                                                </tr>
                                                                <!-- // Table row END --> 
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <!-- // Products table END -->

                                                    <!-- Options -->
                                                    <div class="">

                                                        <!-- With selected actions -->
                                                        <div class="pull-left checkboxs_actions" style="display: none;">
                                                            <label>With selected:
                                                                <select class="selectpicker margin-none dropup" data-style="btn-default btn-xs">
                                                                    <option>Action</option>
                                                                    <option>Action</option>
                                                                    <option>Action</option>
                                                                </select>
                                                            </label>
                                                        </div>
                                                        <!-- // With selected actions END --> 

                                                        <div class="clearfix"></div>
                                                        <!-- // Pagination END -->

                                                    </div>
                                                    <!-- // Options END -->




                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>	


{% endblock %}