{% extends '::sidebar.html.twig' %}
{% set selected = 'contact_manager' %}
{% block javascripts_bottom %} 
    {{ parent() }}
    <script src="{{ asset('..//bundles/crm/components/form_search_filter/search_filter.js') }}" type="text/javascript"></script>
{% endblock %} 
{% block body %}

    <!-- row-app -->
    <div class="row row-app">

        <!-- col -->
        <div class="col-sm-12">

            <!-- col-separator -->
            <div class="col-separator col-separator-first col-unscrollable bg-none">

                <!-- col-table -->
                <div class="col-table">

                    <h4 class="margin-none innerAll bg-white">Contacts</h4>
                    <div class="col-separator-h"></div>

                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" id="s" placeholder="Search contacts">
                        <div class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></div>
                    </div>

                    <div class="col-separator-h"></div>

                    <!-- col-table-row -->
                    <div class="col-table-row">

                        <!-- col-app -->
                        <div class="col-app col-unscrollable">

                            <!-- col-app -->
                            <div class="col-app">

                                <div class="row row-merge">
 
                                    {% for account in accounts %}  
                                        <div class="col-md-6 bg-white border-bottom searchfilter">
                                            <div class="row">

                                                <div class="col-sm-9">
                                                    <div class="media"> 
                                                        <div class="media-body innerAll inner-2x padding-right-none padding-bottom-none  name">
                                                            <h4 class="media-heading"><a href="{{path('CRMContactBundle_profile_account', {'id':account.id})}}">{{ account.name }}</a></h4>
                                                            <p><span class="text-success strong"><i class="fa fa-check"></i> {{ account.accounttype }}</span> &nbsp; <i class="fa fa-fw fa-map-marker text-muted"></i>{{ account.addcity }}, { account.country }}</p> 
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="innerAll text-right">
                                                        <div class="btn-group-vertical btn-group-sm">
                                                            <a href="{{path('CRMContactBundle_profile_account', {'id':account.id})}}" class="btn btn-info">Profile</a>
                                                            <a href="" class="btn btn-default"><i class="fa fa-envelope-o"></i> Email</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div> 
                                        {% else %}
                                            <p>There are no contact entries you. We recommend to create.</p>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                                    <!-- // END col-app -->

                                </div>
                                <!-- // END col-app -->

                            </div>
                            <!-- // END col-table-row -->

                        </div>
                        <!-- // END col-table -->

                    </div>
                    <!-- // END col-separator -->

                </div> 
                <!-- // END col -->

            </div>
            <!-- // END row -->
            {% endblock %}