{% extends 'base.html.twig' %}

{% block title %}DEICRM{% endblock %}

{% block body %}


{% include 'inc/breadcrumb.html.twig' %}


{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

{% include 'target/inc/flash.html.twig' %}

{% include 'target/inc/breadcrumb.html.twig' %}



{% if target is defined %}


<ul class="list-group">
  <li class="list-group-item">First: {{target.FirstName}}</li>
  <li class="list-group-item">Last: {{target.LastName}}</li>
  <li class="list-group-item">Office Phone:{{target.OfficePhone}}</li>
  <li class="list-group-item">Fax: {{target.Fax}} </li>
  <li class="list-group-item">Primary Address: {{target.PrimaryAddressStreet}} </li>
  <li class="list-group-item">Email Address: {{target.EmailAddress}} </li>
  <li class="list-group-item">Description: {{target.Description}} </li>
  <li class="list-group-item">Assigned To: {{target.AssignedTo}} </li>
  <li class="list-group-item">Date Created: {{target.DateCreated}} </li>
  <li class="list-group-item">Date Modified: {{target.DateModified}} </li>
  <li class="list-group-item">CreatedBy: {{createdby.FirstName}}  {{createdby.LastName}}</li>
</ul>


{% endif %}

{% endblock %}
