{% extends 'base.html.twig' %}

{% block title %}DEICRM{% endblock %}

{% block body %}


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="/accounts">Accounts</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/leads">Leads</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="/opportunies">Opportunies</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="/leads">Leads</a></li>
  </ol>
</nav>


{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

{% include 'lead/inc/flash.html.twig' %}

{% include 'lead/inc/breadcrumb.html.twig' %}



{% if lead is defined %}


<ul class="list-group">
  <li class="list-group-item">First: {{lead.FirstName}}</li>
  <li class="list-group-item">Last: {{lead.LastName}}</li>
  <li class="list-group-item">Office Phone:{{lead.OfficePhone}}</li>
  <li class="list-group-item">Fax: {{lead.Fax}} </li>
  <li class="list-group-item">Primary Address: {{lead.PrimaryAddressStreet}} </li>
  <li class="list-group-item">Email Address: {{lead.EmailAddress}} </li>
  <li class="list-group-item">Description: {{lead.Description}} </li>
  <li class="list-group-item">Report To: {{lead.ReportsTo}} </li>
  <li class="list-group-item">Lead Source: {{lead.LeadSource}} </li>
  <li class="list-group-item">Campaign: {{lead.Campaign}} </li>
  <li class="list-group-item">Assigned To: {{lead.AssignedTo}} </li>
  <li class="list-group-item">Date Created: {{lead.DateCreated}} </li>
  <li class="list-group-item">Date Modified: {{lead.DateModified}} </li>
  <li class="list-group-item">CreatedBy: {{createdby.FirstName}}  {{createdby.LastName}}</li>
</ul>


{% endif %}

{% endblock %}
