{% extends 'base.html.twig' %}

{% block title %}DEICRM{% endblock %}

{% block body %}


{% include 'inc/breadcrumb.html.twig' %}

{% include 'user/inc/flash.html.twig' %}

{% include 'user/inc/breadcrumb.html.twig' %}


{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

{% if form is defined %}


    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endif %}


{% if user is defined %}

<div class="card">
  <div class="card-header">
    Search result for {{ searchfor }}
  </div>
  <ul class="list-group list-group-flush">
    {% for data in user %}
    <li class="list-group-item">{{ data.Title}} {{ data.FirstName}} {{ data.LastName}} {{ data.EmailAddress}} <a href="../user/{{ data.id }}" class="btn btn-primary btn-sm">view</a></li>
    {% endfor %}
  </ul>
</div>

{% endif %}

{% endblock %}
