{% if assignedcases|length %}

<div class="card">
  <div class="card-header">
    Assigned Cases
  </div>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Subject</th>
        <th scope="col">Status</th>
        <th scope="col">Type</th>
        <th scope="col">Status</th>
        <th scope="col">Priority</th>
        <th scope="col">Account Name</th>
        <th scope="col">Date Created</th>
        <th scope="col">Date Modified</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

    {% for data in assignedcases %}

    <tr>
      <th scope="row">{{ data.Id}}</th>
      <td>{{ data.Subject}}</td>
        <td>{{ data.Status}}</td>
      <td>{{ data.Type}}</td>
      <td>{{ data.Status}}</td>
      <td>{{ data.Priority}}</td>
      <td>{{ data.AccountName}}</td>
      <td>{{ data.DateCreated}}</td>
      <td>{{ data.DateModified}}</td>
      <td> <a href="/cases/{{ data.id }}" class="btn btn-primary btn-sm mb-1">view</a>

</td>
    </tr>




    {% endfor %}
  </tbody>
  </table>
</div>




{% endif %}
